<h1>Share your Mood</h1>

<p>Please enter your emoji code here:</p>
<% if @error %>
	<p><%= @error %></p>
<% end %>
<form action="mood/show" method="post">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input type="text" name="mood" placeholder="confused">
	<input type="submit" value="Check Code">
</form>